body{
background:#0f0f0f;
color:white;
font-family:Arial;
margin:0;
}

header{
text-align:center;
padding:20px;
}

input{
padding:10px;
width:300px;
border-radius:20px;
border:none;
outline:none;
}

.categories{
margin-top:20px;
}

.categories button{
padding:8px 15px;
margin:5px;
background:#e50914;
border:none;
color:white;
border-radius:20px;
cursor:pointer;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
gap:20px;
padding:30px;
}

.card{
background:#1a1a1a;
padding:10px;
border-radius:15px;
text-align:center;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
height:250px;
object-fit:cover;
border-radius:10px;
}

.card button{
background:#e50914;
border:none;
padding:8px;
width:100%;
color:white;
border-radius:10px;
cursor:pointer;
}
